html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, html {
    height: 100%;
}
body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    background: linear-gradient(180deg, rgba(255,255,255,0) 30vh, rgba(255, 255, 255, 0.6) 50vh, rgba(255, 255, 255, 0.7) 100vh), url(../images/bg_small.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    min-height: 100vh;
    padding: 0;
    font-size: 16px;
    position: relative;
    display: flex; /* To allow for margin-top: auto on footer */
    flex-direction: column; /* Keep element stacking behaviour as default direction is row */
}
h1 {
    font-size: 40px;
    font-weight: normal;
}
header {
    margin: 15px 0px;
    display: inline-block;
    width: 100%;
}
.page-heading {
    color: #FFFFFF;
}
.sub-heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 22px; /* Spec claims 18px but i found that was too small, so i increased the font-size slightly */
    display: none;
}
.text-center {
    text-align: center;
}
main {
    margin-bottom: 25px;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 30px 15px;
    position: relative;
}
.desktop-logo {
    display: none;
}
#dropdown-menu {
    right: 12px;
    width: 220px;
    position: absolute;
    top: 50px;
    max-height: 0;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
    background: #ffffff;
    border-radius: 3px;
}
#dropdown-menu.animate {
    max-height: 250px;
    transition: max-height 0.5s ease-in;
    box-shadow: 1px 1px 5px #9b9b9b;
}
#dropdown-menu .menu {
    margin: 0;
    padding: 0;
}
#dropdown-menu .menu li {
    list-style: none;
    padding: 12px 15px;
}
#dropdown-menu .menu li:hover {
    background: #f3f3f3;
    cursor: pointer;
}
#dropdown-menu-toggle {
    color: #FFFFFF;
    font-size: 24px;
    transform: scale(1.6, 1.1);
    position: relative;
    top: -5px;
    right: 0;
}
#dropdown-menu-toggle i {
    cursor: pointer;
}
#wifi-registration {
    width: 90%;
    max-width: 480px;
    margin: 0 auto;
    padding: 5px;
    user-select: none;
}
#wifi-registration label, #wifi-registration .statement {
    color: #003264;
}
#wifi-registration .statement {
    font-size: 12px;
    margin-bottom: 2em;
}
#wifi-registration a#terms-modal-link, #wifi-registration a#privacy-modal-link {
    color: #D60000;
    border-bottom: 1px solid #D60000;
}
#wifi-registration .form-field {
    margin: 10px auto;
}
#wifi-registration input[type="text"], #wifi-registration input[type="email"] {
    width: 100%;
    padding: 12px 16px;
    border-radius: 6px;
    outline: 0;
    border: 0;
    font-size: 18px;
    color: #4E4E4E;
    box-shadow: 1px 1px 5px #9b9b9b;
}
#wifi-registration .checkbox {
    display: inline-flex;
    cursor: pointer;
    position: relative;
    margin: 4px 0px;
}
#wifi-registration .checkbox > label {
    color: #003264;
    padding: 0.3rem 1rem;
    font-size: 14px;
}
#wifi-registration .checkbox > input {
    height: 22px;
    width: 22px;
    flex: 1 0 22px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
   /* Native Platform styling */
    border-radius: 4px;
    outline: none;
    transition-duration: 0.3s;
    background-color: #FFFFFF;
    cursor: pointer;
}
#wifi-registration .checkbox > input:checked + label::before {
    content: '\2713';
    display: block;
    text-align: center;
    color: #34495E;
    position: absolute;
    left: 0.6rem;
    top: 0.3rem;
    font-weight: bold;
    font-size: 12px;
}
#wifi-registration .checkbox > input:active {
    border: 2px solid #34495E;
}
#wifi-registration button {
    width: 100%;
    padding: 12px 0px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    color: #FFFFFF;
    background: #D60000;
    border: 0;
    border-radius: 5px;
    transition: .3s background;
}
#wifi-registration button:hover {
    cursor: pointer;
    background:#003264;
}
#wifi-registration .field-error {
    color: white;
    font-size: 10px;
    padding: 5px;
    margin: 8px 4px;
    border-radius: 1px;
    font-weight: bold;
    background: #d60000;
    text-align: center;
    box-shadow: 1px 1px 5px #9b9b9b;
    border-radius: 3px;
    text-transform: uppercase;
}
#wifi-registration .form-field .field-error-border {
    border: 1px solid #d60000;
}
footer {
   /*
   * Spec says background: #D60000 with .25 opacity which is still a very prominant red. 
   * I ended up matching the colour the best that i can for this as the colour #D60000 with .25 opacity 
   * does not resemble the appearance of the visuals 
   */
    background: rgba(91, 121, 154, 0.50);
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}
footer .desktop-footer-logo {
    display: none;
}
footer #wifi-help {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.75);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal .para-block {
    padding: 4px 5px;
    margin: 15px;
    font-size: 12px;
}
.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 80%;
    overflow-y: scroll;
    border-radius: 5px;
}
.modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.modal-close:hover, .modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.font-md-size {
    font-size: 12px;
}
.accordian input {
    position: absolute;
    left: -1000px;
    top: -10000px;
}
.accordian label {
    padding: 10px;
    font-size: 14px;
    display: block;
    border: 1px solid #FFFFFF;
    background: rgb(91, 121, 154);
    color: #FFFFFF;
    position: relative;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}
.accordian label:after {
    content: "+";
    right: 10px;
    top: 5px;
    position: absolute;
    font-size: 20px;
    transition: all 0.5s;
}
.accordian input:checked + label:after {
    transform: rotateZ(90deg);
}
.accordian .drop {
    max-height: 0px;
    font-size: 12px;
    overflow: hidden;
    padding: 0px 15px;
    transition: all 0.5s;
    background: #F9F9F9;
}
.accordian input:checked + label + .drop {
    max-height: 30em;
    padding: 15px;
}

@media only screen and (min-width: 768px) {
    body {
        background-image: url(../images/bg_large.jpg);
    }
    nav {
        justify-content: center;
        padding-bottom: 0px;
        margin-top: auto;
    }
    #dropdown-menu-toggle, .mobile-logo {
        display: none;
    }
    .desktop-logo {
        display: block;
    }
    .sub-heading {
        display: block;
    }
    #wifi-registration {
        background: rgba(255, 255, 255, 0.85);
        padding: 40px;
        border-radius: 5px;
    }
    footer .mobile-footer-logo {
        display: none;
    }
    footer .desktop-footer-logo {
        display: block;
    }
}

@media only screen and (min-width: 1024px) {
    body {
        background-position: 0px 40%;
    }
}
